<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <h1 class='service-title'>
      サウナとは、人生である!!
    </h1>
    <p class='service-explain'>
      汗したたる灼熱の刻を、ただひたすら無心で過ごし
    </p>
    <p class='service-explain'>
      冷気ほとばしる水風呂で、熱せられた体を瞬時に冷やす
    </p>
    <p class='service-explain'>
      その後、我々は圧倒的な多幸感(整い)に包まれる
    </p>
    <p class='service-explain'>
      人生、苦難や我慢の日々が多いです
    </p>
    <p class='service-explain'>
      そんな日々を耐え抜き努力した者には
    </p>
    <p class='service-explain'>
      幸せな瞬間が訪れることでしょう
    </p>
  </div>

  

  <div class='ad-contents'>
    <h2 class='ad-title'>
      なぜ、サウナに入ると整うのか？
    </h2>
    <p class='ad-explain'>
      サウナの高温で血流を増加させ、水風呂で血管を一気に収縮させる
    </p>
    <p class='ad-explain'>
      この急速に行われる血管の収縮により
    </p>
    <p class='ad-explain'>
      脳に酸素が大量に送られやすくなる
    </p>
    <p class='ad-explain'>
      その瞬間、整うという感覚に襲われるといわれている
    </p>
  </div>